h1 {
    margin-left: 30%;
};

p {
    text-align: center;
    text-emphasis: bold;
};

.header{
    background-color: lightgray;
    padding-top: 30px;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
};
